<div class="header-legal-mentions__div-slide">
    <figure class="div-slide__figure">
        <img src="../assets/images/sphere-restaurant-salle-DSC0429-1600x1066.webp"
             class="figure__img"
             alt="sphere restaurant paris chef DSC0523 - Sphère, le restaurant Paris gastronomique"
             decoding="async"
             loading="lazy"
             title="Sphère, le restaurant Paris gastronomique">
    </figure>
</div>
<h1 class="div-slide__title-legal-mentions h1">Mentions Legales</h1>