:root {
    --brown: #725330;
    --gold: #BD9561
}

img {
    width: 100%;
}

.header-blog {
    background-color: #17100b;
    min-height: unset;
    height: unset;
    padding-top: 15.625rem;
}

.main__section-blog {
    text-align: center;
    margin-bottom: 5.625rem;
    .section-h3:first-of-type{
        margin-top: 135px;
    }
    .section-blog__article {
        width: min(calc(100vw - 2 * 30px ), 1440px);
        margin: 0 auto;
    }
    .section-blog__div {
        padding: 0 30px;
    }
    .section-blog__div-title {
        margin: 135px auto 70px auto;
        font-size: 3.125rem;
        a {
            color: var(--brown);
            text-decoration-thickness: 2px;
            text-underline-offset: 0.15em;
            &:hover {
                text-decoration: none;
                color: #000;
            }
        }
    }

    .section-blog__div-title, .section-blog__div-text {
        width: min(calc(100vw - 2 * 30px ), 750px);
        text-align: left;
    }

    .section-blog__div-text {
        font-family: Futura-Std, sans-serif;
        margin: 0 auto;
        line-height: 2;
        font-size: 0.875rem;
        .div-text__p {
            margin-bottom: 30px;
        }
        a {
            color: var(--gold);
            &:hover {
                text-decoration: none;
            }
        }
    }

    .div-text__date {
        p {
            margin-top: 60px;
            text-align: center;
            font-size: 0.75rem;
            color: var(--gold);
        }
    }
}

@media screen and (max-width: 992px) {
    .main__section-blog {
        .section-blog__article {
            max-width: unset;
            width: unset;
        }
    }
    .section-blog__div-title, .section-blog__div-text {
        width: 100%
    }
    .div-slide__title-blog-h1 {
        font-size: 3.75rem;
    }

    .section-h3 {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 576px) {
    .div-slide__title-blog-h1 {
        font-size: 2.5rem;
    }
}