:root {
    --gold: #BD9561;
    --brown: #725330;
}

.marquee {
    position: absolute;
    bottom: 9px;
    right: 0;
    font-size: 70px;

    .marquee__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 40px;
    }
}

.menu {
    .marquee__cta {
        text-decoration: none;
        &:before, &:after {
            background-color: #FFF;
            position: absolute;
            left: 0;
            display: block;
            content: '';
            width: 100%;
            height: 1px;
        }

        &:before {
            top: -5px;
        }

        &:after {
            bottom: -5px;
        }
    }
    .marquee__inner {
        span {
            line-height: calc(1em + .5rem);
            padding: 0 40px;
        }
        span:nth-of-type(odd){
            background-color: #FFF;
            color: var(--gold);
        }
        span:nth-of-type(even){
            color: #FFF;
        }
    }
}

.image-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    background-size: cover;
    transform: scaleX(0);
    transition: transform 0.15s ease-out;
}

.image-container.show {
    transform: scaleX(1);
    z-index: 9999;
}

.menu.open {
    width: 100%;
    position: fixed;
    pointer-events: all;
    z-index: 100;
    background-color: #bd9561;
    top: 0;
    left:0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: auto 0 30px auto;
    padding: 10vh 15vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    div ul {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        list-style: none;
        margin: auto 0 30px auto;
        max-width: none;
        padding-left: 0;
        position: relative;
        li {
            line-height: 1.05;
            margin: 2.5px 0;
            padding: 6px;
            a {
                color: #fff;
                text-decoration: none;
                font-size: 50px;
                font-family: Futura-Std, sans-serif;
                position: relative;
            }
        }
    }
    .primary-menu-list {
        li {
            position: relative;
            a {
                &:hover:after {
                    position: absolute;
                    bottom: 15%;
                    left: 0;
                    z-index: -1;
                    display: inline-block;
                    content: '';
                    width: 100%;
                    height: 20%;
                    background-color: #dcdfff;
                }
            }
        }
    }
    .menu-address {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-line-pack: end;
        align-content: flex-end;
    }
    .address {
        text-wrap: nowrap;
        letter-spacing: 0.36px;
        .address-infos {
            display: block;
            small {
                font-size: 80%;
                display: block;
            }
        }
    }
    address {
        a {
            text-decoration: underline;
            color: #FFF;
            &:hover {
                text-decoration: none;
            }
        }
    }

    div ul.secondary-menu {
        text-align: left;
        position: absolute;
        top: 50%;
        left: 10vw;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        li {
            a {
                font-size: 1.125rem;
            }
        }
    }

    div address {
        font-size: 0.875rem;
        text-align: right;
        color: #fff;
        font-family: Futura-Std, sans-serif;
        line-height: 2;
    }

    .secondary-menu {
        li {
            font-size: 1.125rem;
        }
    }
}

.header-restaurant .marquee {
    border: none;
}

.marquee {
    white-space: nowrap;
    width: 100%;
    font-size: 100px;
    font-family: Saol-Display, serif;
}
.marquee__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: scrolling 8s linear infinite;
    animation: scrolling 8s linear infinite;
}
.marquee-text {
    padding-right: 0;
}

.primary-navigation>div>.menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: auto 0 30px auto;
    max-width: none;
    padding-left: 0;
    position: relative;
}

@-webkit-keyframes scrolling {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@keyframes scrolling {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 992px){
    .menu.open {
        padding: 10vh 10vw;
        div ul.secondary-menu {
            text-align: left;
            position: relative;
            top: 50%;
            left: unset;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;
        }
        div ul:not(.secondary-menu) {
            li {
                a {
                    font-size: 1.75rem;
                }
            }
        }
        .address {
            span, small {
                display: inline-block;
            }
            small {
                font-size: 80%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .menu.open {
        address {
            .address-infos {
                display: none;
            }
        }
    }
    .burger-menu__phone {
        display: block;
    }

    .marquee {

        font-size: 40px;

    }
}

@media screen and (max-width: 576px) {
    .menu.open {
        .primary-navigation {
            width: 100%;
        }

        .address {
            width: 100%;
            .address-infos {
                white-space: normal;
            }
        }

        div ul.secondary-menu {
            margin-top: 65px;
        }
        & div ul {
            text-align: center;
            & li a {
                font-size: 1.6rem;
            }
        }
    }
}