:root {
    --gold: #BD9561;
    --brown: #725330;
}

.marquee {
    position: absolute;
    bottom: 5px;
    right: 0;
    font-size: 70px;
    border-top: 1px solid white; /* Ajoute une ligne blanche au-dessus */
    border-bottom: 1px solid white; /* Ajoute une ligne blanche en-dessous */

    .marquee__inner {
        display: flex;
        gap: 40px;
    }
}

.menu {
    display: none;
    .marquee__cta {
        text-decoration: none;
        &:before {
            position: absolute;
            left: 0;
            display: block;
            content: '';
            width: 100%;
        }
    }
    .marquee__inner {
        span {
            line-height: 1.5;
            padding: 0 40px;
        }
        span:nth-of-type(odd){
            background-color: #FFF;
            color: var(--gold);
        }
        span:nth-of-type(even){
            color: #FFF;
        }
    }
}

.menu.open {
    width: 100%;
    position: fixed;
    pointer-events: all;
    z-index: 100;
    background-color: #bd9561;
    top: 0;
    left:0;
    flex-direction: row;
    height: 100vh;
    box-sizing: border-box;
    margin: auto 0 30px auto;
    padding: 10vh 6vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    div ul {
        box-sizing: border-box;
        width: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        flex-wrap: wrap;
        list-style: none;
        margin: auto 0 30px auto;
        max-width: none;
        padding-left: 0;
        position: relative;
        li {
            line-height: 1.05;
            margin: 6px 0;
            a {
                color: #fff;
                text-decoration: none;
                font-size: 1.75rem;
                font-family: Futura-Std-Book, sans-serif;
                padding: 3px 6px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .menu-address {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-end;
    }
    .address {
        width: 40%;
    }
    address {
        a {
            text-decoration: underline;
            color: #FFF;
            &:hover {
                text-decoration: none;
            }
        }
    }

    div ul.secondary-menu {
        text-align: left;
        position: absolute;
        top: 50%;
        left: 6vw;
        align-items: flex-start;
        li {
            a {
                font-size: 1.125rem
            }
        }
    }

    div address {
        font-size: 0.875rem;
        text-align: right;
        color: #fff;
        font-family: Futura-Std-Book, sans-serif;
        line-height: 2;
    }

    .secondary-menu {
        li {
            font-size: 1.125rem;
        }
    }
}

.header-restaurant .marquee {
    border: none;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.marquee__inner {
    display: flex;
    animation: scrolling 4s linear infinite;
}
.marquee-text {
    padding-right: 0;
}
@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 992px){
    .menu.open {
        div ul.secondary-menu {
            text-align: left;
            position: relative;
            top: 50%;
            left: unset;
            align-items: flex-end;
        }
        .address {
            width: 80%;
            span, small {
            display: inline-block;
            }
            small {
                font-size: 80%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .menu.open {
        div ul:not(.secondary-menu) {
            li {
                a {
                    font-size: 1.75rem;
                }
            }
        }
        address {
            .address-infos {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .menu.open {
        & div ul {
            text-align: center;
            & li a {
                font-size: 1.6rem;
            }
        }
    }
}