:root {
    --brown: #725330;
    --gold: #BD9561
}

.main__section-press {
    text-align: center;
    .section-h3:first-of-type{
        margin-top: 135px;
    }
    .section-press__div {
        width: 65%;
        margin: 30px auto;
        figure {
            max-width: min(calc(100vw - 2 * 30px ), 1080px);
            margin: 0 auto;
        }
    }

    .section-press__div:first-of-type {
        margin: 135px auto 30px auto;
    }

    .section-press__div-text {
        font-family: Futura-Std, sans-serif;
        line-height: 2;
        text-align: center;
    }
}
.section-cta {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 50px auto;
    a {
        color: var(--gold);
        font-family: Futura-Std, serif;
        font-size: 1.25rem;
        text-decoration: none;
        padding: 10px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
    }
    a::before, a::after {
        position: absolute;
        left: 0;
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background: var(--gold);
    }

    a::before {
        top: 0;
    }

    a::after {
        bottom: 0;
    }

    a:hover {
        color: var(--gold);
    }

    a:hover::before, a:hover::after {
        opacity: 0;
    }

    svg {
        margin-right: 15px;
    }
}

.section-cta__first-article {
    margin-bottom: 100px;
}

.section-press__first-figure {
    max-width: 600px !important;
    figure {
        max-width: unset !important;
        position: relative;
        width: 100%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
            max-width: 100% !important;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center center;
            object-position: center center;
        }
    }
}

.first-figure__img::before {
    padding-top: 100%;
    display: block;
    position: relative;
    content: "";
    width: 100%;
}

.div-figure__logo-figaro {
    max-width: 170px !important;
    margin: 0 auto;
    img {
        width: 100%;
        height: auto;
    }
}

.section-press__div-figures {
    img {
        width: 100%;
        height: auto;
    }
    .div-figures__first-img {
        width: 50%;
        margin-left: auto;
    }
    .div-figures__second-img {
        width: 40%;
        margin: -2rem auto 0 auto;
    }
}

@media screen and (max-width: 992px) {
    .div-slide__title-press-h1 {
        font-size: 3.75rem;
    }

    .div-figures__second-img {
        margin: -0.5rem auto 0 auto;
    }
}

@media screen and (max-width: 576px) {
    .div-slide__title-press-h1 {
        font-size: 2.5rem;
    }
}